# Project exclude paths
/.idea/workspace.xml
/.idea/replstate.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/dictionaries
/.idea/libraries
/.idea/gradle_extensions.xml

/sdks/
/build/
/sandbox/
/.cpcache
/out
